@model IEnumerable<SchoolProject.WebApplication.Models.AdminReviewPeriod>

@{
    ViewBag.Title = "PerformanceYearReviews";
}

<h2>Performance Year Review Period</h2>

<hr />

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.Raw("Review Period Name")
                </th>
                <th>
                    @Html.Raw("Review Period Code")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewPeriodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewPeriodCode)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>