@model IEnumerable<SchoolProject.WebApplication.Models.AdminStatus>

@{
    ViewBag.Title = "Status";
}

<h2>Application Statuses</h2>
<hr />
<div class="table-responsive">
    <table  class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.Raw("Code") </th>
                <th>@Html.Raw("Name") </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
