@model IEnumerable<SchoolProject.WebApplication.Models.AdminTerm>

@{
    ViewBag.Title = "Terms";
}

<h2>Performance Measure Terms</h2>

<hr />

<div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.Raw("Term Descrciption")
            </th>
            <th>
                @Html.Raw("Code")
            </th>
          
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TermName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermCode)
                </td>
            </tr>
        }
        </tbody>
</table>
    </div>
