
@{
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>
<hr />
<br />
<br />
<div class="row" style="align-content:center">
    <span style="color:red; text-align:center; font-weight:bold">
    You are not authorized to view this page.
    </span>
</div>

